.left-side2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-xl);
  background: linear-gradient(180deg, #4285f4, #3c83f9);
}
.help2 {
  position: absolute;
  top: 87.92%;
  left: 17.86%;
  font-size: var(--font-size-sm);
}
.contact-us2 {
  position: absolute;
  top: 91.84%;
  left: 17.86%;
  font-size: var(--font-size-sm);
}
.settings2 {
  position: absolute;
  top: 43.64%;
  left: 31.43%;
}
.users2 {
  position: absolute;
  top: 37.08%;
  left: 31.43%;
}
.schedules2 {
  position: absolute;
  top: 30.51%;
  left: 31.43%;
}
.transactions2 {
  position: absolute;
  top: 23.94%;
  left: 31.43%;
}
.dashboard5 {
  position: absolute;
  top: 17.37%;
  left: 31.43%;
}
.transaction-icon2 {
  position: absolute;
  height: 2.2%;
  width: 6.43%;
  top: 23.94%;
  right: 75.71%;
  bottom: 73.86%;
  left: 17.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.schedule-icon2 {
  position: absolute;
  height: 2.07%;
  width: 6.96%;
  top: 30.64%;
  right: 75.45%;
  bottom: 67.29%;
  left: 17.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dashboard-icon2 {
  position: absolute;
  height: 1.91%;
  width: 6.43%;
  top: 17.58%;
  right: 75.71%;
  bottom: 80.51%;
  left: 17.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.setting-icon2 {
  position: absolute;
  height: 1.91%;
  width: 6.09%;
  top: 43.86%;
  right: 76.06%;
  bottom: 54.24%;
  left: 17.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.user-icon2 {
  position: absolute;
  height: 1.91%;
  width: 6.43%;
  top: 37.29%;
  right: 75.71%;
  bottom: 60.81%;
  left: 17.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.board3 {
  position: absolute;
  top: 6.36%;
  left: 17.86%;
  font-size: var(--font-size-17xl);
}
.navigation2 {
  position: absolute;
  top: calc(50% - 472px);
  left: 43px;
  width: 280px;
  height: 944px;
  font-size: var(--font-size-lg);
  color: var(--light-goten);
}
.card17 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-xl);
  background-color: var(--light-goten);
  border: 2px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.card16 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 237.32px;
  height: 120px;
}
.total-revenues-child2 {
  position: absolute;
  top: 57.69px;
  left: 26.84px;
  width: 133.13px;
}
.total-revenues5 {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 3px 4px 11px rgba(98, 98, 98, 0.15);
  width: 237.32px;
  height: 120px;
}
.frame-child3 {
  position: absolute;
  top: 18.31px;
  left: 26.84px;
  border-radius: 50%;
  background-color: var(--color-mediumaquamarine);
  width: 31.83px;
  height: 31.83px;
}
.vector-icon11 {
  position: absolute;
  height: 14.37%;
  width: 7.86%;
  top: 20.54%;
  right: 78.05%;
  bottom: 65.09%;
  left: 14.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.total-revenues-parent2 {
  position: relative;
  width: 237.32px;
  height: 120px;
}
.frame-child4 {
  position: absolute;
  top: 18.31px;
  left: 26.84px;
  border-radius: 50%;
  background-color: var(--color-burlywood);
  width: 31.83px;
  height: 31.83px;
}
.vector-icon12 {
  position: absolute;
  height: 14.33%;
  width: 6.28%;
  top: 21.35%;
  right: 78.85%;
  bottom: 64.31%;
  left: 14.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.total-transactions1 {
  position: relative;
  display: inline-block;
  width: 124px;
}
.b4 {
  position: relative;
  font-size: var(--font-size-2xl);
  display: inline-block;
  font-family: var(--font-open-sans);
  width: 124px;
}
.total-transactions-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.label-text4 {
  position: absolute;
  top: 4px;
  left: 9px;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.label4 {
  position: relative;
  border-radius: var(--br-15xl);
  background-color: var(--color-honeydew);
  width: 47px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--supportive-roshi-100);
  font-family: var(--paragraph-text-md-s);
}
.frame-parent5 {
  position: absolute;
  top: 57.69px;
  left: 26.84px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.frame-child5 {
  position: absolute;
  top: 17.38px;
  left: 23.66px;
  border-radius: 50%;
  background-color: var(--color-lightpink-100);
  width: 31.83px;
  height: 31.83px;
}
.b5 {
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-open-sans);
  width: 124px;
}
.label-text5 {
  position: absolute;
  top: 4px;
  left: 8px;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.frame-parent6 {
  position: absolute;
  top: 57.69px;
  left: 23.66px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.vector-icon13 {
  position: absolute;
  height: 14.17%;
  width: 6.95%;
  top: 20.66%;
  right: 79.85%;
  bottom: 65.17%;
  left: 13.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child6 {
  position: absolute;
  top: 18.31px;
  left: 23.66px;
  border-radius: 50%;
  background-color: var(--color-lightsteelblue);
  width: 31.83px;
  height: 31.83px;
}
.vector-icon14 {
  position: absolute;
  height: 10.97%;
  width: 8.51%;
  top: 23.03%;
  right: 78.94%;
  bottom: 66%;
  left: 12.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent4 {
  position: absolute;
  top: 140.5px;
  left: 390px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
  font-size: var(--font-size-2xs);
  font-family: var(--font-lato);
}
.frame-parent8 {
  position: absolute;
  top: 198px;
  left: 417px;
  width: 189px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-size: var(--font-size-2xs);
  font-family: var(--font-lato);
}
.card25 {
  position: absolute;
  height: 101.11%;
  width: 100.4%;
  top: -0.56%;
  right: -0.2%;
  bottom: -0.56%;
  left: -0.2%;
  border-radius: var(--br-xl);
  background-color: var(--light-goten);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.card24 {
  position: absolute;
  top: 59.33px;
  left: 0px;
  width: 1000px;
  height: 359px;
}
.guest1 {
  position: absolute;
  top: 108.33px;
  left: 808px;
  display: inline-block;
  width: 42px;
}
.user1 {
  position: absolute;
  top: 108.33px;
  left: 906px;
  display: inline-block;
  width: 34px;
}
.activities1 {
  position: absolute;
  top: 89.33px;
  left: 40px;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-montserrat);
  width: 93px;
}
.may-june2 {
  position: absolute;
  top: 116.33px;
  left: 0px;
  display: inline-block;
  width: 111px;
}
.vector-icon15 {
  position: absolute;
  height: 2.47%;
  width: 6.45%;
  top: 0%;
  right: 0%;
  bottom: 97.53%;
  left: 93.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.may-june-2021-group {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 124px;
  height: 133.33px;
  color: var(--secondary-text);
  font-family: var(--font-montserrat);
}
.div13 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 25.34px;
}
.group-child3 {
  position: absolute;
  top: 9.5px;
  left: 39.5px;
  border-top: 1px solid var(--field-color-darker1);
  box-sizing: border-box;
  width: 882px;
  height: 1px;
}
.parent3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 921px;
  height: 17px;
}
.parent4 {
  position: absolute;
  top: 78px;
  left: 0px;
  width: 921px;
  height: 17px;
}
.parent5 {
  position: absolute;
  top: 39px;
  left: 0px;
  width: 921px;
  height: 17px;
}
.parent6 {
  position: absolute;
  top: 117px;
  left: 0px;
  width: 921px;
  height: 17px;
}
.parent7 {
  position: absolute;
  top: 156px;
  left: 0px;
  width: 921px;
  height: 17px;
}
.div18 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 9.12px;
}
.group-child8 {
  position: absolute;
  top: 9.5px;
  left: 22.27px;
  border-top: 1px solid var(--field-color-darker1);
  box-sizing: border-box;
  width: 882px;
  height: 1px;
}
.parent8 {
  position: absolute;
  top: 195px;
  left: 17.23px;
  width: 903.77px;
  height: 17px;
}
.chart2 {
  position: absolute;
  top: 164.33px;
  left: 40px;
  width: 921px;
  height: 212px;
  color: var(--secondary-text);
}
.activities-card-inner {
  position: absolute;
  top: 113.33px;
  left: 787.53px;
  border-radius: 50%;
  background-color: var(--light-red);
  width: 10px;
  height: 10px;
}
.activities-card-child1 {
  position: absolute;
  top: 113.33px;
  left: 885px;
  border-radius: 50%;
  background-color: var(--light-green);
  width: 10px;
  height: 10px;
}
.activities-card1 {
  position: absolute;
  top: 242px;
  left: 390px;
  width: 1000px;
  height: 418.33px;
  font-family: var(--font-lato);
}
.card27 {
  position: absolute;
  height: 101.56%;
  width: 100.83%;
  top: -0.78%;
  right: -0.42%;
  bottom: -0.78%;
  left: -0.42%;
  border-radius: var(--br-xl);
  background-color: var(--light-goten);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.card26 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 480px;
  height: 256px;
}
.child1 {
  position: absolute;
  top: 3px;
  left: 0px;
  border-radius: 50%;
  background-color: var(--color-darkseagreen);
  width: 11px;
  height: 11px;
}
.basic-tees1 {
  position: absolute;
  top: 0px;
  left: 21px;
}
.div20 {
  position: absolute;
  top: 22px;
  left: 21px;
  font-size: var(--font-size-xs);
  font-family: var(--font-lato);
  color: var(--secondary-text);
}
.div19 {
  position: absolute;
  top: 72px;
  left: 244px;
  width: 98px;
  height: 36px;
}
.may-june3 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 97px;
}
.may-june-2021-container {
  position: absolute;
  top: 31px;
  left: 327px;
  width: 97px;
  height: 15px;
  font-size: var(--font-size-xs);
  color: var(--secondary-text);
}
.child2 {
  position: absolute;
  top: 3px;
  left: 0px;
  border-radius: 50%;
  background-color: var(--color-khaki);
  width: 11px;
  height: 11px;
}
.div21 {
  position: absolute;
  top: 129px;
  left: 244px;
  width: 168px;
  height: 36px;
}
.child3 {
  position: absolute;
  top: 3px;
  left: 0px;
  border-radius: 50%;
  background-color: var(--color-lightcoral);
  width: 11px;
  height: 11px;
}
.div23 {
  position: absolute;
  top: 186px;
  left: 244px;
  width: 128px;
  height: 36px;
}
.top-products1 {
  position: absolute;
  top: 30px;
  left: 40px;
  font-size: var(--font-size-lg);
}
.top-products-card1 {
  position: absolute;
  top: 699px;
  left: 390px;
  width: 480px;
  height: 256px;
}
.schedules-card-icon1 {
  position: absolute;
  height: 0.52%;
  width: 0.35%;
  top: 47.46%;
  right: 5.56%;
  bottom: 52.03%;
  left: 94.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.week-11 {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: var(--font-lato);
}
.week-21 {
  position: absolute;
  top: 0px;
  left: 200px;
}
.week-31 {
  position: absolute;
  top: 0px;
  left: 400px;
}
.week-41 {
  position: absolute;
  top: 0px;
  left: 600px;
}
.chart-weeks1 {
  position: absolute;
  top: 615px;
  left: 569px;
  width: 648px;
  height: 19px;
  color: var(--secondary-text);
  font-family: var(--font-open-sans);
}
.dashboard6 {
  position: absolute;
  top: 0px;
  left: 0px;
}
.white2 {
  border: none;
  background-color: var(--field-color-darker);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 197.6px;
  height: 32.93px;
}
.search1 {
  position: absolute;
  top: 6px;
  left: 15px;
}
.search-icon1 {
  position: absolute;
  top: 9px;
  left: 153px;
  width: 12.71px;
  height: 12px;
}
.search-bar1 {
  position: absolute;
  top: 0px;
  left: 713px;
  width: 197.6px;
  height: 32.93px;
  font-size: var(--font-size-sm);
  color: var(--light-grey);
  font-family: var(--font-lato);
}
.mask-group-icon2 {
  position: absolute;
  top: 0px;
  left: 970px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.vector-icon16 {
  position: absolute;
  height: 63.43%;
  width: 1.8%;
  top: 19.91%;
  right: 5.76%;
  bottom: 16.67%;
  left: 92.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.header1 {
  position: absolute;
  top: 71px;
  left: 390px;
  width: 1000px;
  height: 32.93px;
  font-size: var(--font-size-5xl);
}
.bar-1-1-icon8 {
  position: absolute;
  height: 19.04%;
  top: 40.53%;
  bottom: 40.43%;
  left: calc(50% - 167.22px);
  border-radius: var(--br-9xs);
  max-height: 100%;
  width: 38.41px;
}
.bar-1-1-icon9 {
  position: absolute;
  height: 13.47%;
  top: 46.13%;
  bottom: 40.4%;
  left: calc(50% + 29.64px);
  border-radius: var(--br-9xs);
  max-height: 100%;
  width: 38.41px;
}
.bar-1-1-icon10 {
  position: absolute;
  height: 15.35%;
  top: 44.24%;
  bottom: 40.4%;
  left: calc(50% + 429.64px);
  border-radius: var(--br-9xs);
  max-height: 100%;
  width: 38.41px;
}
.bar-1-1-icon11 {
  position: absolute;
  height: 7.51%;
  top: 52.08%;
  bottom: 40.4%;
  left: calc(50% + 229px);
  border-radius: var(--br-9xs);
  max-height: 100%;
  width: 38.41px;
}
.bar-1-1-icon12 {
  position: absolute;
  height: 15.23%;
  top: 44.47%;
  bottom: 40.3%;
  left: calc(50% - 118.91px);
  border-radius: var(--br-9xs);
  max-height: 100%;
  width: 38.41px;
}
.bar-1-1-icon13 {
  position: absolute;
  height: 17.1%;
  top: 42.6%;
  bottom: 40.3%;
  left: calc(50% + 77.95px);
  border-radius: var(--br-9xs);
  max-height: 100%;
  width: 38.41px;
}
.bar-1-1-icon14 {
  position: absolute;
  height: 13.03%;
  top: 46.67%;
  bottom: 40.3%;
  left: calc(50% + 477.95px);
  border-radius: var(--br-9xs);
  max-height: 100%;
  width: 38.41px;
}
.bar-1-1-icon15 {
  position: absolute;
  height: 11.43%;
  top: 48.27%;
  bottom: 40.3%;
  left: calc(50% + 277.32px);
  border-radius: var(--br-9xs);
  max-height: 100%;
  width: 38.41px;
}
.donut-chart-icon1 {
  position: absolute;
  height: 99.93%;
  width: 72.39%;
  top: -0.11%;
  right: 43.65%;
  bottom: 0.18%;
  left: -16.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.legend1 {
  position: absolute;
  height: 20.29%;
  top: 41.3%;
  bottom: 38.41%;
  left: calc(50% - 28.49px);
}
.chart3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 141.98px;
  height: 141.98px;
}
.donut-1-icon2 {
  position: relative;
  width: 79.22px;
  height: 141.97px;
}
.donut-1-icon3 {
  position: relative;
  width: 76.84px;
  height: 79.45px;
}
.group-child9 {
  position: absolute;
  height: 11.34%;
  width: 11.67%;
  top: 88.53%;
  right: 47.87%;
  bottom: 0.13%;
  left: 40.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chart-group {
  position: absolute;
  top: 775px;
  left: 430px;
  width: 141.98px;
  height: 141.98px;
}
.frame-child7 {
  position: relative;
  width: 76.78px;
  height: 76.78px;
}
.add-profile1 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.group-container {
  position: absolute;
  height: 45.62%;
  width: 17.08%;
  top: 27.19%;
  right: 41.46%;
  bottom: 27.19%;
  left: 41.46%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.card28 {
  position: absolute;
  top: 699px;
  left: 910px;
  width: 480px;
  height: 256px;
  font-size: var(--paragraph-text-md-s-size);
  color: var(--secondary-text);
  font-family: var(--paragraph-text-md-s);
}
.dashboard-item {
  position: absolute;
  top: calc(50% - 512px);
  left: calc(50% - 720px);
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 1024px;
}
.title1 {
  align-self: stretch;
  position: relative;
  line-height: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 252px;
  flex-shrink: 0;
}
.icon2 {
  position: relative;
  width: 24px;
  height: 24px;
}
.button5 {
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs);
  align-items: center;
  justify-content: flex-start;
}
.header-holder1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0px var(--padding-5xl);
  align-items: center;
  justify-content: space-between;
}
.divider1 {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--light-beerus-beerus);
  box-sizing: border-box;
  height: 1px;
}
.header-module1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 544px;
  height: 64px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) 0px 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.frame-child8 {
  position: absolute;
  top: -0.37px;
  left: 275px;
  width: 213px;
}
.input-title4 {
  position: absolute;
  top: 2.85%;
  left: 18.12%;
  line-height: 24px;
  font-weight: 600;
}
.input-title5 {
  position: absolute;
  top: 2.85%;
  left: 71.52%;
  line-height: 24px;
  font-weight: 600;
}
.frame-child9 {
  position: absolute;
  top: 37.14px;
  left: -0.25px;
  border-radius: var(--br-11xl);
  background-color: var(--color-dodgerblue-100);
  width: 213.42px;
  height: 4px;
}
.frame-child10 {
  position: absolute;
  top: 37.14px;
  left: 266.58px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro-200);
  width: 213.42px;
  height: 4px;
}
.frame-parent9 {
  position: relative;
  width: 480px;
  height: 40px;
}
.input-title6 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.input-container2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--light-goten);
  border: 1px solid var(--light-beerus-beerus);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--light-trunks);
}
.text-input2 {
  width: 496px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.label-text8 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.label8 {
  border-radius: var(--br-9xs);
  background-color: var(--light-piccolo-piccolo);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-9xs) var(--padding-9xs)
    var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.label10 {
  border-radius: var(--br-9xs);
  background-color: var(--light-piccolo-piccolo);
  overflow: hidden;
  display: none;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-9xs) var(--padding-9xs)
    var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.left-container {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.placeholder-text3 {
  position: relative;
  font-size: var(--paragraph-text-md-s-size);
  line-height: 24px;
  color: var(--light-trunks);
  text-align: left;
}
.controls-icon {
  position: relative;
  width: 16px;
  height: 16px;
}
.right-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.chip-holder {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--light-goten);
  border: 1px solid var(--light-beerus-beerus);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--light-goten);
}
.text-input3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--light-bulma1);
}
.content-placeholder-module1 {
  position: absolute;
  top: 63px;
  left: 0px;
  width: 544px;
  height: 376px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--paragraph-text-md-s-size);
}
.seperator1 {
  position: absolute;
  top: -0.25px;
  left: -0.25px;
  border-top: 0.5px solid var(--light-beerus-beerus);
  box-sizing: border-box;
  width: 544.5px;
  height: 0.5px;
}
.button-text3 {
  position: relative;
  line-height: 24px;
}
.button8 {
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
}
.button-text4 {
  position: absolute;
  top: 8px;
  left: 16px;
  line-height: 24px;
  font-weight: 600;
}
.button9 {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: #3e84f8;
  width: 64px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-group1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--light-goten);
  font-family: var(--paragraph-text-md-s);
}
.button-container1 {
  position: absolute;
  top: 24px;
  left: 0px;
  width: 544px;
  display: flex;
  flex-direction: row;
  padding: 0px var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.footer-module1 {
  position: absolute;
  top: 465px;
  left: 4px;
  width: 544px;
  height: 88px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--light-trunks);
  font-family: var(--font-avertastd-semibold);
}
.modal-dialog1 {
  position: absolute;
  top: calc(50% - 276.5px);
  left: calc(50% - 272px);
  border-radius: var(--br-base);
  background-color: var(--light-goten);
  box-shadow: var(--light-shadow-xl);
  width: 544px;
  height: 553px;
  font-size: var(--font-size-xl);
  color: var(--light-bulma);
  font-family: var(--paragraph-text-md-s);
}
.dashboard4 {
  position: relative;
  background-color: var(--color-ghostwhite);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--light-bulma1);
  font-family: var(--font-montserrat);
}
